/* body */

body{
    font-family:'Courier New', Courier, monospace;
    background-color:rgba(20, 180, 220, 0.425);
    color:black;
    text-align: center;
    padding: 50px;
    margin-top: 150px;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 700;
}

label{
    font-weight: 700;
}
